.DS_Store
.classpath
nb-configuration.xml
*/target
petri-service/.project
petri-service/.settings
petri-service/.target
petri-service/*.db
petri-service/documents
petri-service/logs
petri-service/project/project
petri-service/project/target
petri-service/tmp
