.header {
  padding: 2px;
  background-color: #377fbf;
  font-size: 12px;
  height: 20px;
}

.subHeader {
  background-color: yellow;
  height: 100px;
}

.login {
  float: right;
}

.footer {
  background-color: #377fbf;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
