.header {
  padding: 2px;
  background-color: #377fbf;
  font-size: 12px;
  height: 30px;
}

.head-menu {
  background-color: yellow;
  height: 100px;
}

.head-button {
  float: right;
}

.login {
  float: right;
}

.footer {
  background-color: #377fbf;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}
