@(faqForm: Form[QandaForm], id: Long)
@import helper._

@layout.main("QANDA") {
  @if(id != null){
    @form(action = routes.QandaController.update(1), args = 'class -> "faq-form"){
      @inputText(field = faqForm("タイトル"), args = 'size -> 120)(shared.pFieldConstructor, implicitly[Lang])
      @textarea(field = faqForm("質問"), args = 'rows -> 20, 'cols -> 120)(shared.pFieldConstructor, implicitly[Lang])
      @inputText(field = faqForm("タグ"), args = 'size -> 120)(shared.pFieldConstructor, implicitly[Lang])
      <input type="submit" id="submitLogin" class="btn" value="質問を更新する" />
    }
  }else{
    @form(action = routes.QandaController.insert, args = 'class -> "faq-form"){
      @inputText(field = faqForm("title"), args = 'size -> 120)(shared.pFieldConstructor, implicitly[Lang])
      @textarea(field = faqForm("content"), args = 'rows -> 20, 'cols -> 120)(shared.pFieldConstructor, implicitly[Lang])
      @inputText(field = faqForm("inputTags"), args = 'size -> 120)(shared.pFieldConstructor, implicitly[Lang])
      <input type="submit" id="submitLogin" class="btn" value="質問を投稿する" />
    }
  }
  <br/>
}
