@(qandaList: List[Qanda])

@layout.main("QANDA") {
  <h4>qandaList</h4>
  <table class="table">
    <tr>
      <td>evaluations</td>
      <td>qandas</td>
      <td>title</td>
      <td>tags</td>
      <td>create_time</td>
      <td>update_time</td>
    </tr>
    @for(qanda <- qandaList){
      <tr>
        <td>@qanda.evaluations.size()票</td>
        <td>@qanda.qandas.size()回答</td>
        <td><a class="link" href="@routes.QandaController.show(qanda.id)">@qanda.title</a></td>
        <td>
          @for(tag <- qanda.tags){
            @tag.name
          }
        </td>
        <td>@qanda.create_time</td>
        <td>@qanda.update_time</td>
      </tr>
    }
  </table>
}
