@(faq: Qanda, errMsgList: List[String])
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qanda.css")">

@layout.main("QANDA") {
  @helpers.errMsgList(errMsgList)
  <h2>@faq.title</h2>
  <div class="qanda-main">
    <table>
      <tr>
        <td class="evaluation">
          <a class="vote-up">△</a>
          <div class="vote">
            @faq.evaluations.size()
          </div>
          <a class="vote-down">▽</a>
        </td>
        <td class="question">
          <div>
            @faq.content
          </div>
          <div>
            @faq.isQuestion
          </div>
          <div>
            @faq.create_time
          </div>
          @helpers.tagList(faq.tags)
          @helpers.userInfo(faq)
          <a class="link" href="@routes.QandaController.edit(faq.id)">更新</a>
        </td>
      </tr>
    </table>
  </div>
}
