@(faq: Qanda)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qanda.css")">

@layout.main("QANDA") {
  <h2>@faq.title</h2>
  <div class="qanda-main">
    <table>
      <tr>
        <td class="evaluation">
          <a class="vote-up">△</a>
          <div class="vote">
            @faq.evaluations.size()
          </div>
          <a class="vote-down">▽</a>
        </td>
        <td>
          <div>
            @faq.content
          </div>
          <div>
            @faq.isQuestion
          </div>
          <div>
            @faq.create_time
          </div>
          @helpers.tagList(faq.tags)
          <div class="updatetime">
            @helpers.lastUpdate(faq)
          </div>
          <div>
            @faq.create_user_id
          </div>
          <a class="link" href="@routes.QandaController.update(faq.id)">更新</a>
        </td>
      </tr>
    </table>
  </div>
}
