@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
      <div class="header">
        <span class="logo">
          <a class="logo-pic" href="@routes.Application.index">@title</a>
        </span>
        <span class="login">
          @if(session().get("loginUser") != null){
            <span>Hello, @session().get("loginUser")</span>
            <a class="logout-link" href="@routes.LoginController.logout">Logout</a>
          }else{
            <a class="login-link" href="@routes.LoginController.login">Login</a>
          }
        </span>
      </div>
      <div class="subHeader">
        <span>@title</span>
      </div>
        @content
      <div class="footer">
        this is footer.
      </div>
    </body>
</html>
