.header {
  padding-top: 2px;
  padding-right: 5.5%;
  padding-left:  5.5%;
  background-color: #377fbf;
  font-size: 12px;
  height: 31px;
}

.head-menu {
  padding-right: 5.5%;
  padding-left:  5.5%;
  height: 100px;
}

.head-menu span {
  margin-top: 33px;
}

.head-button {
  float: right;
}

.login {
  float: right;
}

.content {
  margin-left: 5.5%;
}

.footer {
  background-color: #377fbf;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.alert {
  width: 80%;
}
