.qanda-summary {
  width: 730px;
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.qanda-summary .evaluations {
  width: 50px;
  height: 50px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
}
.qanda-summary .comments {
  width: 50px;
  height: 50px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
}
.qanda-summary .summary {
  width: 530px;
  height: 55px;
  float: left;
}
.qanda-summary .summary .user-info {
  float: right;
}
.qanda-summary .summary .title {
  width: 530px;
  height: 20px;
}
.qanda-summary .summary .tags {
  float: left;
}
.tag-box {
  color: #3e6d8e;
  background: #e4edf4;
  border: #e4edf4;
  margin: 2px 2px 2px 0;
  padding: 1px 1px;
  height: 20px;
  float: left;
  cursor: pointer;
}
.qanda-main {
  width: 730px;
}
.qanda-main .evaluation {
  width: 61px;
  text-align: center;
  padding-right: 15px;
  vertical-align: top;
}
.qanda-main .question {
  width: 660px;
}
.qanda-main .question .user-info{
  float: right;
}
.vote-up {
  width: 40px;
  height: 30px;
  display: block;
  margin: 0 3px 2px 3px;
}
.vote-down {
  width: 40px;
  height: 30px;
  display: block;
  margin: 2px 3px 0 3px;
}
.vote {
}
