@(user: entity.User)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/user.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qanda.css")">

@layout.main("QANDA") {
  <div class="user-top">
    <div class="user-info">
      <h2>@user.name</h2>
    </div>
    <div class="user-status">
      <div class="answers">@user.getAnswerSize()<br/>回答</div>
      <div class="questions">@user.getQuestionSize()<br/>質問</div>
      <div></div>
    </div>
  </div>
  <!-- tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">質問</a></li>
    <!--li><a href="#tab2" data-toggle="tab">回答</a></li-->
  </ul>
  <!-- tab contents -->
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h4>@user.name の関係している質問</h4>
      @helpers.qandaSummary(user.qandas)
    </div>
    <!--div class="tab-pane" id="tab2"-->
    </div>
  </div>
}
