@(message: String, loginForm: Form[LoginController.LoginForm])
@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

@layout.main("SHINKIN★CHANGE FAQ") {
  @form(action = routes.LoginController.login, args = 'class -> "login-form"){
    @message
    @inputText(field = loginForm("id"), args = 'size -> 10)
    @inputPassword(field = loginForm("pass"), args = 'size -> 10)
    <input type="submit" id="submitLogin" class="btn" value="ログイン" />
  }
}
